@import "tailwindcss";

:root {
  --background: var(--color-gravel);
  --foreground: #171717;
  @apply font-circular text-lg;

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply text-lg;
  }

  /* button {
    @apply btn-primary transition-all ease-in-out;
  }

  button:hover:not(:disabled) {
    @apply bg-green-darker -translate-y-0.5 scale-105;
  }

  button:disabled {
    @apply bg-green-disabled;
  } */

  /* input,
  textarea {
    @apply scale-100 rounded-sm border-b-1 border-[#142d4c] bg-[#f5f5f5] px-2 py-1 shadow-md transition-transform ease-in-out;
  }

  input:focus,
  textarea:focus {
    @apply scale-105 border-b-2 border-[#385170] outline-none;
  } */
}

@theme {
  /* --color-green-vehka: rgba(169, 228, 164);
  --color-green-light: rgba(230, 245, 240);
  --color-green-dark: rgba(7, 122, 104);
  --color-green-darker: rgba(7, 113, 96);
  --color-pink-vehka: rgba(232, 60, 106); */
  --color-green-disabled: rgba(96, 156, 146);
  --color-gravel: #e8e8e8;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-circular: var(--font-circular);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-alex: var(--font-alex-brush);
}

/* @utility btn-primary {
  @apply bg-green-dark disabled:bg-green-light w-fit rounded px-4 py-1 font-black text-white;
} */

/* .home-page {
  @apply flex flex-col gap-4;

  > div {
    @apply flex flex-col;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-circular), Arial, Helvetica, sans-serif;
}

/* @utility {
} */
.input-wrapper {
  @apply flex scale-100 rounded-sm border-b-1 border-[#142d4c] bg-[#f5f5f5] px-2 py-1 shadow-md transition-transform ease-in-out;
  &:focus-within {
    @apply scale-105 border-b-2 border-[#385170] outline-none;
  }

  & input {
    @apply grow outline-none;
  }
}

/* Alternative Firefox-specific styles using @supports */
@supports (-moz-appearance: none) {
  /* 1px is 0.8px in firefox so this fixes the layout shift when input is focused */
  .input-wrapper {
    border-bottom-width: 0.8px !important;
    margin-bottom: 0.8px;
    &:focus-within {
      border-bottom-width: 1.6px !important;
      margin-bottom: 0px;
    }
  }
}

/* 
.page-container {
  @apply mx-auto min-h-screen w-full max-w-[1270px] bg-white py-10 2xl:w-4/6;
}

.page-content {
  @apply mx-auto w-4/5 2xl:w-3/5;
}

@utility meeting-form-input {
  @apply bg-green-light border-b-1;
}

.meeting-form-wrapper {
  @apply gap-sm;
  > div {
    @apply flex flex-col;
  }

  label {
    @apply font-bold;
  }

  input {
    @apply meeting-form-input;
  }
} */

/* Invite style */
/* @utility invite-cols {
  @apply grid grid-cols-2;
}

.meeting-invite-cols {
  @apply gap-md sm:grid sm:grid-cols-2;
}

.invite-info {
  @apply invite-cols;
  div {
    @apply flex flex-col;
  }
  span:first-child {
    @apply text-3xl font-bold;
  }
  span {
    @apply text-2xl;
  }
}

.invite-greetings {
  @apply invite-cols;
  div {
    @apply flex flex-col;
  }
  span:first-child {
    @apply text-3xl font-bold;
  }
  span {
    @apply text-2xl;
  }
} */
