@import "tailwindcss";

:root {
  --background: var(--color-gravel);
  --foreground: #171717;
  @apply font-circular text-lg;

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply text-lg;
  }

  button {
    @apply bg-teal-light/50 rounded px-2 py-1 shadow-md transition-all;

    &:hover {
      @apply bg-teal-light/70;

      &:not(:disabled) {
        @apply scale-105;
      }
    }

    &:disabled {
      @apply bg-[#527d74] text-white;
    }
  }
}

@theme {
  --color-teal-light: #9fd3c7;
  --color-teal-dark: #385170;
  --color-teal-darker: #142d4c;
  --color-off-white: #f5f5f5;
  --color-green-disabled: rgba(96, 156, 146);
  --color-gravel: #e8e8e8;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-circular: var(--font-circular);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-alex: var(--font-alex-brush); */
}

/* Font utility classes */
.font-alex {
  font-family: var(--font-alex-brush), cursive;
}

/* @utility btn-primary {
  @apply bg-green-dark disabled:bg-green-light w-fit rounded px-4 py-1 font-black text-white;
} */

/* .home-page {
  @apply flex flex-col gap-4;

  > div {
    @apply flex flex-col;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-circular), Arial, Helvetica, sans-serif;
}

.input-wrapper {
  @apply border-teal-darker bg-off-white mb-[1px] flex scale-100 rounded-sm border-b-1 px-2 py-1 shadow-md transition-transform ease-in-out;

  &:focus-within {
    @apply border-teal-dark mb-0 scale-105 border-b-2 outline-none;
  }

  & input {
    @apply w-full outline-none;
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
}

.datepicker-wrapper {
  @apply border-teal-darker bg-off-white mb-[1px] flex grow rounded-sm border-b-1 px-2 py-1 shadow-md transition-transform ease-in-out;

  &:focus-within {
    @apply border-teal-dark mb-0 border-b-2 outline-none;
  }

  & input {
    @apply grow outline-none;
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;

    width: 100% !important;
  }

  & .react-datepicker-wrapper {
    @apply w-full;
  }
}

/* Alternative Firefox-specific styles using @supports */
@supports (-moz-appearance: none) {
  /* 1px is 0.8px in firefox so this fixes the layout shift when input is focused */
  .input-wrapper {
    border-bottom-width: 0.8px !important;
    margin-bottom: 0.8px;
    &:focus-within {
      border-bottom-width: 1.6px !important;
      margin-bottom: 0px;
    }
  }
}

@utility datetime-button {
  @apply bg-teal-light/50 rounded px-2 py-1 shadow-md transition-all;
  &:hover:not(:disabled) {
    @apply bg-teal-light/70 scale-105;
  }
  &:hover:disabled {
    @apply bg-teal-light/70;
  }
}

@utility datepicker-ml {
  .react-datepicker {
    @apply ml-20;
  }
}

/* 
.page-container {
  @apply mx-auto min-h-screen w-full max-w-[1270px] bg-white py-10 2xl:w-4/6;
}

.page-content {
  @apply mx-auto w-4/5 2xl:w-3/5;
}

@utility meeting-form-input {
  @apply bg-green-light border-b-1;
}

.meeting-form-wrapper {
  @apply gap-sm;
  > div {
    @apply flex flex-col;
  }

  label {
    @apply font-bold;
  }

  input {
    @apply meeting-form-input;
  }
} */

/* Invite style */
/* @utility invite-cols {
  @apply grid grid-cols-2;
}

.meeting-invite-cols {
  @apply gap-md sm:grid sm:grid-cols-2;
}

.invite-info {
  @apply invite-cols;
  div {
    @apply flex flex-col;
  }
  span:first-child {
    @apply text-3xl font-bold;
  }
  span {
    @apply text-2xl;
  }
}

.invite-greetings {
  @apply invite-cols;
  div {
    @apply flex flex-col;
  }
  span:first-child {
    @apply text-3xl font-bold;
  }
  span {
    @apply text-2xl;
  }
} */
